* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background-image: url(./assets/novyi-god-rozhdestvo-prazdnik-fon-igrushki-konfety.jpg);
}
.wish-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: #162e15;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.wish-form {
  margin-bottom: 32px;
}

.wish-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #0cff28;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
}

.wish-input::placeholder {
  color: #e2e2e2;
}

.wish-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgb(121, 255, 12) 0%,
    rgb(7, 145, 39) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.wish-input.edit {
  border: 2px solid #149fff;
}

.wish-button.edit {
  background: linear-gradient(
    90deg,
    rgb(14, 114, 49) 0%,
    rgb(116, 255, 17) 100%
  );
  padding: 16px 22px;
}

.wish-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.wish-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgb(248, 108, 8) 0%,
    rgb(122, 42, 11) 100%
  );

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.wish-row:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgb(255, 12, 12) 0%,
    rgb(134, 13, 13) 100%
  );
}

.wish-row:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgb(142, 179, 8) 0%,
    rgb(246, 250, 0) 100%
  );
}

.wish-row:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgb(20, 212, 255) 0%,
    rgb(53, 17, 255) 100%
  );
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}
